
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  font-size: 20px;
  /* font-family: 'Alegreya', serif; */
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
}

p, li {
  font-family: 'Alegreya', serif;
  line-height: 1.6;
}

strong, b {
  /* font-size: 18.5px; */
}

code {
  font-size: 15px;
  padding: 3px 5px;
  background: #eee;
}

pre {
  background: #eee;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
}

blockquote {
  font-size: 1.2em;
  font-weight: 300;
  color: #777;
}

button {
  padding: 10px 15px;
  /* height: 30px; */
  font-size: 14px;
  border-radius: 2px;
  /* background: #222;
  color: #eee; */
  outline: none;
  border: none;
  margin: 0 5px 5px 0;
  cursor: pointer;
  transition: all 0.2s;
}

button code {
  padding: 0;
  font-size: inherit;
  background: none;
  color: inherit;
}

button.active {
  background: tomato;
  /* color: #eee; */
}