body,
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* color: #172b4d; */
  color: #333;
}
a {
  text-decoration: none;
}
.article {
  padding: 10px;
  padding-bottom: 80px;
  cursor: text;
  font-size: 20px;
  font-family: "Crimson Text", serif;
  /* color: #172b4d; */
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Roboto", sans-serif;
  clear: both;
}
.title {
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
::placeholder {
  /* color: #97a0af; */
  color: #999;
}

.wf-loading * {
  /* color: #172b4d; */
  /* color: #333; */
  color: rgba(0, 0, 0, 0);
}

.wf-active * {
  /* color: #172b4d; */
  /* color: #333; */
  color: inherit;
}

.wrapper {
  margin: 0 auto;
  max-width: 660px;
  padding: 0 10px;
}
button {
  font-family: "Roboto", sans-serif;
}
p,
li {
  font-size: 20px;
  font-family: "Crimson Text", serif;
  line-height: 1.35;
  font-weight: 300;
  /* letter-spacing: -.02em; */
}
li p {
}
p abbr,
li abbr {
  /* font-family: "Alegreya SC", serif; */
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  /* text-shadow: -0.05px 0 #333, 0 0.05px #333, 0.05px 0 #333, 0 -0.05px #333; */
  /* margin: 0 2px; */
}
p {
  margin: 20px 0;
  margin-top: 3px;
}
li p {
  margin: 0;
}
strong,
b {
  /* font-size: 18.5px; */
  font-weight: bold;
}
u {
  /* text-decoration: none;
  border-bottom: solid 1px #999; */
}

code {
  font-size: 15px;
  padding: 3px 5px;
  background: #eae6ff;
  font-family: monospace !important;
}

h1 code {
  font-size: 28px;
}
h2 code {
  font-size: 24px;
}
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 20px;
}
blockquote code {
  font-size: 20px;
}

pre {
  background: #eae6ff;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  border-radius: 2px;
  border: solid 1px #c0b6f2;
}

blockquote {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  opacity: 0.7;
  margin-left: 0;
  padding-left: 24px;
  border-left: solid 3px #abf5d1;
  width: 90%;
  font-family: "Josefin Slab", serif;
}

blockquote p {
  font-family: "Josefin Slab", serif;
  font-size: inherit;
}

center blockquote {
  border: none;
  padding: 0;
}

button,
select,
option {
  /* padding: 10px 15px; */
  /* height: 30px; */
  font-size: 14px;
  border-radius: 2px;
  /* background: #333;
  color: #eee; */
  outline: none;
  border: none;
  margin: 0 5px 5px 0;
  cursor: pointer;
  transition: all 0.2s;
}

img + sup,
img + sub {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  opacity: 0.8;
}

button code {
  padding: 0;
  font-size: inherit;
  background: none;
  color: inherit;
}

.active {
  /* color: #eee; */
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
h2 {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 10px;
  opacity: 0.7;
}
h3,
h4,
h5,
h6 {
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: solid 1px #eee;
  color: #eee;
  text-align: center;
  max-width: 300px;
  clear: both;
  margin: 30px auto;
}
hr:after {
  content: "❦";
  color: #444;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.5em;
  background: white;
}
.article a {
  /* opacity: 0.8; */
  /* text-decoration: underline; */
  text-decoration-line: underline;
  text-decoration-style: solid 1px;
  /* text-decoration-color: #ffbdad; */
  /* border-bottom: dotted 1px #999; */
}
.article u {
  text-decoration-line: underline;
  text-decoration-style: dotted 1px;
}

table {
  width: 100%;
  padding: 10px;
  /* border: none; */
  margin: 10px 0 20px;
}
tr {
  /* border-bottom: solid 2px #999; */
}
td {
  border: solid 1px #ddd;
  padding: 5px 8px;
}
table * {
  margin: 0;
}
table p {
  /* font-size: 16px; */
  /* font-family: "Roboto", sans-serif; */
}

.dropdown {
  background: #fff;
  font-size: 18px;
  border: solid 1px #eee;
  cursor: pointer;
  position: fixed;
  /* border-radius: 2px; */
  /* top: 50px; */
  transition: all 0.1s;
}

.dropdown-items {
  position: fixed;
}

.dropdown.trigger {
  position: relative;
}

.dropdown div {
  padding: 4px 8px;
  height: 30px;
  display: flex;
  align-items: center;
}

.dropdown div:hover {
  background: #f6f6f6;
  /* padding-left: 10px; */
}

.dropdown .paragraph {
  font-family: "Crimson Text", serif;
}
.dropdown .heading-one {
  font-size: 20px;
  font-weight: bold;
}
.dropdown .heading-two {
  font-size: 19px;
  opacity: 0.7;
}
.dropdown .heading-three {
  font-size: 16px;
  font-weight: bold;
}
.dropdown .block-quote {
  font-size: 18px;
  opacity: 0.7;
  font-family: "Josefin Slab", serif;
}
.dropdown .code-block {
  font-size: 14px;
  font-family: monospace;
  /* background: #eee; */
}

.rc-dialog-mask {
  background: rgba(234, 230, 255, 0.7) !important;
}
.rc-dialog-content {
  /* background: #deebff; */
  border: solid 1px #eee;
  border-radius: 2px;
  text-align: center;
}
.rc-dialog-content h3 {
  font-weight: normal;
  font-family: "Josefin Slab", serif;
  margin: 20px 5px;
}
.rc-dialog-content .input {
  padding: 6px 10px;
  outline: none;
  border: solid 1px #ddd;
  font-size: 14px;
  border-right: none;
  /* font-family: "Crimson Text", serif; */
}
.rc-dialog-content .submit {
  padding: 6px 10px;
  background: #fff;
  font-size: 14px;
  border: solid 1px #ddd;
  /* font-family: "Crimson Text", sans-serif; */
  /* text-transform: lowercase; */
}
.rc-dialog-close {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin: 0;
}
.rc-dialog-close:hover {
  background: #f6f6f6;
}
ol,
ul {
  padding-left: 22px;
}
.hanging-double {
  margin-left: -0.3em;
}
h1 .hanging-double,
h2 .hanging-double,
h3 .hanging-double,
h4 .hanging-double,
h5 .hanging-double,
h6 .hanging-double {
  margin-left: -0.36em;
}

blockquote .hanging-double {
  margin-left: -0.25em;
}

.hanging-single {
  margin-left: -0.15em;
}
h1 .hanging-single,
h2 .hanging-single,
h3 .hanging-single,
h4 .hanging-single,
h5 .hanging-single,
h6 .hanging-single {
  margin-left: -0.18em;
}

blockquote .hanging-single {
  margin-left: -0.12em;
}

img {
  background: #f6f6f6;
  max-width: 100%;
  height: auto;
}
.article figure {
  position: relative;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
}

figure.is-wide {
  width: 960px;
  max-width: 960px;
  margin-left: -170px;
}
.pull-left figure,
.pull-right figure {
  max-width: 100% !important;
  height: auto !important;
  margin-left: 0;
}

figure .fill {
  width: 100%;
}
figure img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s;
}

figure img.loaded {
  opacity: 1;
}
figure img.small {
  filter: blur(50px);
  opacity: 0.5 !important;
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

@media only screen and (max-width: 960px) {
  figure {
    height: auto !important;
  }
  figure.is-wide {
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
    height: auto;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 960px) {
}

figcaption {
  opacity: 0.7;
  font-size: 0.8em;
  margin: 16px 0 32px;
}

.pull-left {
  float: left;
  margin-right: -70px;
  width: 380px;
  position: relative;
  left: -90px;
}
.pull-right {
  float: right;
  margin-left: -70px;
  width: 380px;
  position: relative;
  left: 90px;
}

@media only screen and (max-width: 780px) {
  .pull-left,
  .pull-right {
    left: 0;
    float: none;
    margin: 10px 0;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }
}
