
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  font-size: 20px;
  /* font-family: 'Alegreya', serif; */
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
}

p, li {
  font-family: 'Alegreya', serif;
  line-height: 1.6;
}

strong, b {
  /* font-size: 18.5px; */
}

code {
  font-size: 15px;
  padding: 3px 5px;
  background: #eee;
}

pre {
  background: #eee;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
}

blockquote {
  font-size: 1.2em;
  font-weight: 300;
  color: #777;
}